<nav class="navbar navbar-default">

        <button class="btn btn-disabled"><%= name %></button>

        <% if(isSeller) { %>
        <form action="/products/add" method="GET">
            <button type="submit" class="btn btn-primary">Add Item</button>
        </form>
        <% } %>

        <form action="/password/change">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>

        <form action="/logout">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
        

    </nav>