<!DOCTYPE html>
<html lang="en">
<head>
        <% include partials/head %>
        <title>Add a Product</title>
</head>
<body>
    <div class="container" style="padding: 15rem" >
        <div class="" style="height: 20rem;">
            <% if (!(message === "")) { %>
                <%= message %>
            <% } %>
        
            <h1>Add a product</h1>
            <br>
            <form action="/products/add" method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" id="price" name="price" min="0" value="100.00" step=".01" class="form-control"  required>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description" class="form-control"  required>
                </div>
                <div class="form-group">
                    <label for="picture">Image URL:</label>
                    <input type="text" id="picture" name="picture" class="form-control"  required>
                </div>
                <button type="submit" class="btn btn-raised btn-primary">Add</button>
            </form>

            <form action="/products">
                <input type="submit" value="Return" class="btn btn-raised btn-primary">
            </form>
        </div>
    </div>

</body>
</html>