<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="ie=edge">
        <title>Payment Cancelled</title>
    </head>
    <body>
        <h1>
            Payment Cancelled
        </h1>
        <form action="/" method="get">
            <input type="submit" value="Return">
        </form>
    </body>
</html>