<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="ie=edge">
        <title>PayPal Node</title>
    </head>
    <body>
        <h1>Intel Core i5 8400 CPU</h1>
        <h2>Buy for $299</h2>
        <form action="/pay" method="post">
            <input type="submit" value="Buy">
        </form>
    </body>
</html>