<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="ie=edge">
        <title>PayPal Node</title>
    </head>
    <body>

            <h1>Intel Core i5 8400 CPU</h1>
            <h2>Buy for $299</h2>
            <form action="/pay" method="post">
                <input type="submit" value="Buy">
            </form>

        <hr>

        <h1>All Products</h1>
        <% for(let i = 0; i < items.length; i++) { %>
            <article>
                <h2><%= items[i].name %></h1>
                <p><%= items[i].description %></p>
                <form action="/pay" method="POST">
                    <input type="hidden" name="hiddenField" value = <%= items[i].name %>>
                    <input type="hidden" id="sku" value=<%= items[i].sku %>>
                    <input type="submit" value="Buy">
                </form>
            </article>
        <% } %>
    </body>

</html>