<!DOCTYPE html>
<html lang="en">
<head>
        <% include partials/head %>
        <title>Login</title>
        <% include partials/head %>
</head>
<body>
    <div class="container" style="padding: 15rem" >
        <div class="" style="height: 20rem;">
            <h1>Login</h1>
            <% if (messages.error) { %>
                <%= messages.error %>
            <% } %>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                </div>
                <button class="btn btn-raised btn-primary" type="submit">Login</button>
            </form>
            <a class="btn btn-raised btn-primary" href="/register">Register</a>           <a class="btn btn-raised btn-primary" href="/password/reset">Forgot Password</a>
        </div>
    </div>
        <% include partials/script %>

</body>
</html>