<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="ie=edge">
        <title>Password Reset</title>
    </head>
    <body>
        <% if (!(message === "")) { %>
            <%= message %>
        <% } %>
        <h1>Password Reset</h1>
        <form action="/password/reset" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Reset Password</button>
        </form>
        <form action="/">
            <button type="submit">Return</button>
        </form>
    </body>
</html>
