<!DOCTYPE html>
<html lang="en">
<head>
        <% include partials/head %>
        <title>Password Reset</title>
</head>
<body>
    <div class="container" style="padding: 15rem" >
        <div class="" style="height: 20rem;">
            <% if (!(message === "")) { %>
                <%= message %>
            <% } %>
            <h1>Password Reset</h1>
            <form action="/password/reset" method="POST">
            <br>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-raised btn-primary">Reset Password</button>
            </form>
            <form action="/">
                <button type="submit" class="btn btn-raised btn-primary">Return</button>
            </form>
        </div>
    </div>
</body>
</html>
