<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="ie=edge">
        <title>Password Change</title>
    </head>
    <body>
        <% if (!(message === "")) { %>
            <%= message %>
        <% } %>
        <h1>Password Change</h1>
        <form action="/password/change" method="POST">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Change Password</button>
        </form>
        <form action="/">
            <button type="submit">Return</button>
        </form>
    </body>
</html>
