<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
        <title>Password Change</title>
    </head>
 <body>
    <div class="container" style="padding: 15rem" >
        <div class="" style="height: 20rem;">
            <% if (!(message === "")) { %>
                <%= message %>
            <% } %>
            <h1>Password Change</h1>
            <br>
            <form action="/password/change" method="POST">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-raised btn-primary">Change Password</button>
            </form>
            <form action="/">
                <button type="submit" class="btn btn-raised btn-primary">Return</button>
            </form>
        </div>
    </div>
</body>
</html>
